@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@400;500;600&display=swap");

:root {
  --accent: #ffc933;
  --light-accent: #d4bc79;
  --bg: #181717;
  --dark-bg: #1d1c1c;
  --text: #ffffff;
  --error: #f8654f;
  --border: #31312f;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  background: var(--bg);
  color: var(--text);
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

h1,
h2 {
  font-weight: 500;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  color: var(--accent);
}

input[type="date"],
button {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid transparent;
}

input[type="date"]:focus,
button:focus {
  outline: 2px solid transparent;
  border: 2px solid var(--accent);
}

button:hover {
  border: 2px solid var(--accent);
  background: var(--dark-bg);
  color: var(--text);
  cursor: pointer;
}

button {
  display: block;
  background: var(--accent);
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.4rem 2.3rem;
  margin: 1em 0;
  transition: 0.2s;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.countdown-form,
.countdown {
  background: var(--dark-bg);
  border-radius: 4px;
  padding: 35px;
  text-align: center;
}

.countdown-form {
  width: 100%;
  max-width: 400px;
}

.countdown-form .form {
  width: 200px;
  margin: 0 auto;
}

.countdown h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--light-accent);
}

.container h1::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  margin: 0.5em auto 0;
  background-color: var(--border);
}

.container > h1:first-child {
  margin-bottom: 0.8em;
}

.countdown-form h3 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0 0 0.6em;
}

.countdown-form .form-error {
  font-size: 1.2rem;
  display: none;
  padding: 1rem 0;
  font-weight: 600;
  color: var(--error);
}

.countdown-form input[type="date"] {
  background: var(--bg)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23f5f5f5' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E")
    90% 45% no-repeat;
  background-size: 18px;
  color: var(--text);
  text-transform: uppercase;
}

.countdown-form input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.countdown-form input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  margin-right: 10px;
}

.countdown-modal {
  position: absolute;
  background: var(--bg);
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: none;
}

.countdown-content {
  width: 100%;
  height: 80%;
  max-width: 1024px;
  display: grid;
  grid-template-rows: 1fr 80vh;
  justify-items: center;
  align-items: center;
}

.countdown-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.countdown-header button {
  width: 150px;
  padding: 0.9rem;
  margin-top: 0;
}

.countdown {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown span {
  display: block;
  margin: 0.1em 0 0;
}

.countdown h2 span:first-child {
  display: inline-block;
  font-size: inherit;
  color: inherit;
}

.countdown span:last-child {
  font-size: 9.4rem;
  color: var(--text);
}

.countdown ul {
  margin: 1em 0;
}

.countdown li {
  margin: 2em;
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
